:root {
    /* ----- COLOR PALETTE ----- */
    /* background colors */
    --clr-light-background: rgb(255, 255, 248);
    --clr-light-blue-background: rgba(34, 178, 218, 0.075);

    /* font colors */
    --clr-dark-transparent-font: rgba(2, 44, 49, 0.3);
    --clr-darkest-font: rgba(0, 0, 0, 1);

    /* button color */
    --clr-blue-button: rgb(49, 114, 145);
}

body {
    border: none;
    background: var(--clr-light-background);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 1em;
    padding-top: 0;
}

#app {
    display: grid;
    grid-template-areas: 
    "h h h h"
    "z z z z"
    "f f f f"
    "e e e e"
    ;
    height:100vh;
    background: var(--clr-light-background);
    color: var(--clr-dark-font);
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

div {
    display: flex;
    align-content: space-between;
    flex-direction: row;
}

.font-style {
    color: var(--clr-blue-button);
}

.holder.entry {
    grid-area: e;
    margin-top: 0;
    background: var(--clr-light-blue-background);
    flex-direction: column;
    height: 20vh;
}

.holder.feel {
    display: flex;
    flex-direction: column;
    grid-area: f;
}

.holder.headline {
    display: flex;
    flex-direction: column;
    grid-area: h;
}

.holder.zip {
    display: flex;
    flex-direction: column;
    grid-area: z;
}

.entry {
    background: var(--clr-light-blue-background);
    padding: 1em;
    padding-top: 0;
}

#date, #temp, #content {
    padding: 1em;
}

.holder.headline {
    margin-top: 0;
    font-size: xx-large;
}

div.title {
    margin-top: 0;
    text-justify: unset;
    color:var(--clr-dark-font)
}

/*  Basic Styling To Override Default For Basic HTML Elements */
alert {
    background-color: violet;
}

label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background:var(--clr-light-blue-background);
    color: var(--clr-dark-font);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-left: 0.5em;
    padding-top: 0;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    background: var(--clr-blue-button);
    color: var(--clr-light-background);
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin-top: 1em;
    box-shadow: 2px 4px 5px rgb(68, 68, 68);
}

h1 {
    font-size: 4em;;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    margin-right: 90%;
}

textarea {
    background:var(--clr-light-blue-background);
    color: var(--clr-dark-font);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    padding-left: 0.5em;
    height: 20vh;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: var(--clr-dark-transparent-font); 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: var(--clr-dark-transparent-font); 
    font-family: 'Oswald', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: var(--clr-dark-transparent-font); 
    font-family: 'Oswald', sans-serif;
} 